.header__bar_mobile {
    display: none;
    position: fixed;
    top:30px;
    right:35px; 
    background-image: url("/src/images/mobile-slider.svg");
    height: 22px;
    width: 24px;
    opacity: 1;

}
.header__bar_mobile:hover{
    opacity: 0.8;
}
@media screen and (max-width: 767px) {
    .header__bar_mobile {
        display: block;
    }
}