.header {
    max-width: calc(100% - 2 * 200px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1100px) {
    .header {
        max-width: calc(100% - 2 * 48px);
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 100%;
        margin: 0;
        padding-top: 0;
        padding-bottom: 30px;
        flex-direction: column-reverse;
    }
}